.hero-main{
    background: url('../../Assets/Images/banner-bg.jpg') no-repeat top right/cover;
    background-color: #27292a;
    color:var(--color-light);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
}
.hero-text{
    max-width: 500px;
}
.hero-title {
font-size: 60px;
text-transform: uppercase;
margin-bottom: 25px;
font-weight: var( --font-weight-bold);
}
.hero-title em {
    font-style: normal;
    color:var(--color-primary);
}
.hero-subtitle {
    font-size: 20px;
    color: var(--color-light);
    font-weight: 400;
    margin-bottom: var( --font-weight-normal);
}